html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

section {
  background: #f5f7f9;
  height: 350px;
}

h1, h2, strong, footer {
  color: #333;
}

.App {
  text-align: center;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; 
}
