footer {
  background-color: #8B5FBF;
  /* color: white; */
  position: absolute;
  bottom: 0;
  width: 1280px;
  height: 5%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

footer span {
  align-self: center;
  vertical-align: center;
}

footer a {
  color: #333;
}